@use '../../../styles/helpers/helpers' as *;

.sliderList {
  margin-top: 2.5rem;
  @include flexBox;
  @include flexProperty(center, stretch);
  gap: 1rem;

  @include respond(phone) {
    margin-top: 1rem;
  }

  .sliderFigureMini {
    max-width: 12rem;
    aspect-ratio: 1/1;

    & .active {
      border: 2px solid orange;
    }

    @include respond(tab-landscape){
      max-width: 9.5rem;
      max-height: 9.5rem;
    }
  }

  .sliderImageMini {
    @include fitImage;
    cursor: pointer;
  }
}
